<h5>New Bank</h5>
<p class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</p>

<form name="myForm" class="container" (ngSubmit)="newBankObject()" novalidate>
  <div class="input-field col s12">
    <input  id="bank-title-input" type="text"
      name="bankTitle" [(ngModel)]="newBank.title">
  <label for="bank-title-input"> Title </label>
  </div>
  <div class="input-field col s12">
    <input  id="bank-value-input" type="number"
      name="bankValue" [(ngModel)]="newBank.totalValue">
    <label for="bank-value-input"> Savings Amount </label>
  </div>
  <label for="bank-goalDate-input"> Pyggie Bank Goal Date </label>
  <input  id="bank-goalDate-input" class="unstyled" type="date" required
      name="bankGoalDate"  [(ngModel)]="newBank.date">
  <label for="bank-startDate-input"> Payment Start Date </label>
    <input #bankStartDate="ngModel" class="unstyled" type="date" required max={{newBank.date}}
      name="bankStartDate"  [(ngModel)]="newBank.payments.startDate">
      <div class="input-field col s8">
    <select id="bank-period-input" name="bankPeriod" [(ngModel)]='newBank.payments.period'>
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="bi-weekly">BiWeekly</option>
      <option value="monthly">Monthly</option>
    </select>
    <label for="bank-period-input">How often will you pay?</label>
  </div>
  <div class="col s12">
    <button class="waves-effect waves-light teal darken-2 btn"> Save This bank </button>
  </div>
</form>
<div *ngIf="bankStartDate.dirty && newBank.payments.startDate > newBank.date">
  <p> start date must be before the goal date</p>
</div>
