<h2>{{ bankItem.title }}</h2>
<p> ${{ bankItem.totalValue.toFixed(2) }}</p>
<p> Goal Date: {{ bankItem.dateFormatted }}</p>
<p> Remaining Balance: ${{ bankItem.payments.remainingCost.toFixed(2)}}</p>
<p> Number Of Payments Left: {{ bankItem.payments.numberPaymentsLeft}}</p>
<div *ngIf="bankItem.payments.paymentLog.length > 0">
  <p> Next Payment: ${{ bankItem.payments.paymentLog[0].paymentVal.toFixed(2) }} on {{ bankItem.payments.paymentLog[0].date }}</p>
  <button (click)="payNow()">Pay Now</button>
</div>
