<div class="card white">
  <div class="col m6">
    <span class="card-title">{{ bankItem.title }}</span>
    <div *ngIf="bankItem.payments.paymentLog.length > 0">
      <p> Next Payment Due</p>
      <p>${{ bankItem.payments.paymentLog[0].paymentVal.toFixed(2) }}</p> <p>{{ bankItem.payments.paymentLog[0].date }}</p>
      <button class="waves-effect waves-light teal darken-2 btn" (click)="payNow()">Pay Now</button>
    </div>
    <div *ngIf="bankItem.payments.paymentLog.length === 0">
      <h4>COMPLETED</h4>
    </div>
  </div>
    <div class="col m6">
      <a [routerLink]="['/mybanks', bankItem._id]">
        <img src="../../../assets/images/bankicon.svg" alt="">
      </a>
      <h5>${{ bankItem.payments.remainingCost.toFixed(2)}}</h5>
    </div>
  </div>
