<div *ngIf="!userInfo">
    <a id="close-menu" (click)="sidenav.close()"><i class="small material-icons">close</i></a>
    <a [routerLink]="['']">HOME</a>
    <a [routerLink]="['about']">ABOUT</a>
<header>
  <nav class="nav-wrapper grey darken-4">
    <a id="menu" (click)="sidenav.open()"><i class="large material-icons">dehaze</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a [routerLink]="['login']">LOG IN</a></li>
    </ul>
</nav>
</header>
</div>
<div *ngIf="userInfo">
  <header>
    <nav class="nav-wrapper grey darken-4">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ><span id="user" class="red accent-3"><i class="tiny material-icons">person</i>{{ userInfo.fullName }} </span></li>
      </ul>
  </nav>
  </header>
  <div class="sidenav fixed-nav teal darken-2">
    <img src="" alt="" />
    <a id="log-out" class="waves-effect waves-light grey lighten-5 btn" (click)="logMeOut()">LOG OUT</a>
    <a [routerLink]="['profile']">Dashboard</a>
    <a href="">Pyggie Banks</a>
  </div>
</div>
<router-outlet></router-outlet>
