<div *ngIf="!userInfo">
<header>
  <nav class="nav-wrapper grey darken-4">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a [routerLink]="['']">HOME</a></li>
      <li><a [routerLink]="['about']">ABOUT</a></li>
      <li><a [routerLink]="['login']">LOG IN</a></li>
    </ul>
</nav>
</header>
</div>
<div *ngIf="userInfo">
  <div class="sidenav fixed-nav grey darken-4">
    <img src="../assets/images/profile.svg" alt="" />
    <a id="log-out" class="waves-effect waves-light grey lighten-5 btn" (click)="logMeOut()">LOG OUT</a>
    <a id="link" [routerLink]="['profile']">Dashboard</a>
  </div>
</div>
<router-outlet></router-outlet>
