<main class="main row">
<div class="form-container">
  <div class="form-wrapper">
    <h2> Sign Up </h2>
    <p class="error" *ngIf="loginError">
      {{ loginError }}
    </p>

    <form class="container" (ngSubmit)="signupSubmit()">
      <div class="input-field col s12">
        <input  id="full-name-input" type="text"
            name="fullName" [(ngModel)]="newUser.signupFullName">
        <label for="full-name-input"> Full Name </label>
      </div>
      <div class="input-field col s12">
      <input  id="username-input" type="text"
            name="username" [(ngModel)]="newUser.signupUsername">
      <label for="log-username-input"> Username </label>
      </div>
      <div class="input-field col s12">
        <input  id="password-input" type="password"
            name="userPassword" [(ngModel)]="newUser.signupPassword">
      <label for="log-password-input"> Password </label>
      </div>
      <button class="waves-effect waves-light teal darken-2 btn"> Sign Up </button>
    </form>
  </div>
  <a [routerLink]="['/login']">Already have an account? Log in</a>
</div>
</main>
