.main{
  display: flex;
  background: url("../../../assets/images/pig-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  align-items: center;
  justify-content:flex-start;
  margin: 0;
  text-align: center;
}

.form-container{
  height: 410px;
  margin-left: 100px;
}
