<main class="main row">
<div class="form-container">
  <div class="form-wrapper">
    <h2> Log In </h2>
    <p class="error" *ngIf="loginError">
      {{ loginError }}
    </p>

    <form class="container col s12" (ngSubmit)="loginSubmit()">
      <div class="input-field col s12">
      <input  id="username-input" type="text"
            name="username" [(ngModel)]="loginUser.loginUsername">
      <label for="log-username-input"> Username </label>
      </div>
      <div class="input-field col s12">
      <input  id="log-password-input" type="password"
          name="userPassword" [(ngModel)]="loginUser.loginPassword">
      <label for="log-password-input"> Password </label>
      </div>
      <button class="waves-effect waves-light teal darken-2 btn"> Log In </button>
    </form>
  </div>
  <a [routerLink]="['/signup']">New to PYYG?Create an account</a>
</div>
</main>
